{{extend 'layout.html'}}

{{block statusbar}}
{{end}}

{{ if 'static' in request.env.query_string:}}
<h2>Welcome</h2>
<p>It appears you are not yet logged in.  If you have already registered, please <a href="{{=URL(f='user/login')}}">Log in</a>.  Otherwise you can <a href="{{=URL(f='user/register')}}">Register</a> here.</p>
{{else:}}

<div class="container" style="margin-top:20px;">
  <div class='col-md-12'>
  {{ if progress: }}
    <h2>Continue</h2>
    <ul>
    <li>{{=progress}}</li>
    <li>Chapter: <a class="btn btn-default" href="{{=progress.last_page_url}}">{{=progress.last_page_chapter}}</a></li>
    <li>Chapter: <a class="btn btn-default" href="{{=progress.last_page_url}}">{{=progress.last_page_chapter}}</a></li>
    <li>Chapter: <a class="btn btn-default" href="{{=progress.last_page_url}}">{{=progress.last_page_chapter}}</a></li>
    <li>Chapter: <a class="btn btn-default" href="{{=progress.last_page_url}}">{{=progress.last_page_chapter}}</a></li>
    </ul>
  {{ pass }}
    
    <h2>Progress</h2>
    <table class='table'>
        <tr>
            <th>Chapter</th>
            <th>Section</th>
            <th>Page</th>
            <th>Progress</th>
        </tr>
        <tr>
            <td>1. Introduction</td>
            <td>1. Course Overview</td>
            <td>1. Expectations</td>
            <td>0%</td>
        </tr>
    </table>
  </div>
</div>

{{pass}}

<div class='col-md-12'>
  <h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>

  <div id="web2py_user_form">
    {{=form}}
    {{if request.args(0)=='login':}}
      <div id='auth-actions'>
        {{if not 'register' in auth.settings.actions_disabled:}}
          <a href="{{=URL(args='register')}}">{{=T('Register')}}</a>
        {{pass}}
        {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
          <br />
          <a href="{{=URL(args='request_reset_password')}}">{{=T('Lost Password')}}</a>
        {{pass}}
      </div>
    {{pass}}
  </div>
  <br />

</div>

<script language="javascript"><!--
      $jqTheme("#web2py_user_form input:visible:enabled:first").focus();
      //--></script>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", init, false);

    function init(){
      var video = document.getElementById("runestonevid");
      video.addEventListener("play", videoPlay, false);
      video.addEventListener("pause", videoPause, false);
      video.addEventListener("ended", videoEnd, false);
    }

    function videoPlay(event) {
      trackEvent('Play', 'My Video');
    }

    function videoPause(event) {
      trackEvent('Pause', 'My Video');
    }

    function videoEnd(event) {
      trackEvent('Ended', 'My Video');
    }

    function trackEvent(action, title) {
      _gaq.push(['_trackEvent', 'Videos', action, title]);
    }
</script>
